@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');

body{
  margin:0px;
  padding:0px;
  opacity: 0;
    transition: opacity 2s;
}

#mainGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-column-gap: 2vmin; */
  font-size: 3vmin;
  height: 100%;

  grid-template-areas:
  "header header header header header header header header"
  "profile profile body body body body trend trend"
}

#header1{
  grid-area: header;
  position: fixed;
  width: 100%;
  font-size: 3vw;
  text-align: center;
  background-color: white;
  /* border-color: #31A9E0;
  border-style: solid;
  border-width: 4px; */
  height: 4vw;
  padding-top: 1vw;
  flex-direction: row;
  align-content: space-around;
  box-shadow: 3px 3px 20px black;
  z-index: +99;

}

h1{
  font-size: 5vw;
  font-weight: 700;
  margin-top: 0;
}

#profileArea{
  grid-area:profile;
  background-color: #31A9E0;
  display: flex;
  flex-direction: column;
  padding-top: 2vw;
  text-align: center;
}

h2{
  font-size:2vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  margin-bottom: 0;
}

a{
  text-decoration: none;
  color:white;
}

#profileArea p{
  font-size: 1.3vw;
  font-family: Inconsolata;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 1vw;;
  line-height: 1.8vw;
  color: white;
  margin-bottom: 1vw;

}

#profileContainer{
  grid-area:profile;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 5vw;
}

#followButton{
  grid-area:profile;
  margin-top: 8px;
  margin-left: 5vw;
  margin-right: 5vw;
  /* border-style: solid;
  border-color: black; */
  background-color: #2B8BBA;
  /* opacity: 0.6; */
  transition: 0.4s;
  border-radius: 2vw;
  padding: 0.7vw;
  font-size: 1.5vw;
  font-family: Montserrat;
  color: white;
}

#followButton:hover{
  background-color: #2881AD;
  cursor: pointer;
}

#fourColumnContainer{
  grid-area:profile;
  display: flex;
  flex-direction: row;

}

#stanImage{
  display: block;
  width: 100%;

}

#profileArea h3{
  font-size:2vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: oblique;
  color: white;
  margin-bottom: 0;
  text-align: center;
  padding-top: 1vw;
  padding-right: 1vw;
  padding-left: 1vw;

}

#bodyArea{
  margin-top: 0px;
  grid-area:body;
  background-color: #EDEDED;
  color: white;
  font-size: 4vw;
  font-family: 'Inconsolata', monospace;
  padding: 3vw;
  display: flex;
  flex-direction: column;
}

#infoArea{
  grid-area:body;
  /* height: 5vw; */
  margin-top: 5vw;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
  box-shadow: 3px 3px 10px black;
  border-radius: 8px;
}

#infoHeadings{
  /* grid-row: 1; */
  display: flex;
  flex-direction: row;
  width: 36vw;
  justify-content: space-between;
  font-size: 1.2vw;
  color: black;
  font-weight: bolder;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  margin: 0;
}
#trendArea{
  grid-area:trend;
  background-color: white;

}

#trendsBox{
  grid-area:trend;
  height: 30vw;
  padding:2vw;
  margin-top: 4vw;
  line-height: 3vw;
  position: fixed;
}

#trendsBox h2 {
  color: black;
  margin-bottom: 1.5vw;
  font-size: 5vmin;
}

#trendsBox a {
  color: black;
  font-family: Inconsolata;
  font-weight: bold;
  font-size: 2vw;
  color: #31A9E0;
  transition: 0.4s;
}

#trendsBox a:hover{
  color: #2881AD;
  cursor: pointer;
  font-style: italic;
}

.contentItem {
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  padding: 2vmin;
  color: black;
  border-radius: 8px;
  /* height: 100%; */
  /* box-shadow: 2px 2px 10px black; */
  background-color: white;
  margin-left: 2vw;
  margin-right: 2vw;
}

h3 {
  margin-top: 1vmin;
  font-size: 2vmin;
  text-align: right;
  margin-bottom: 2vmin;
  font-family: Montserrat;
}
h5 {
  font-size: 1.6vw;
  margin-top:0;
  margin-bottom: 1.5vmin;
  margin-left: 2vmin;
  font-family: Inconsolata;

}
.contentItem p{
  font-size: 1.5vw;
  margin-top: 1vmin;
  margin-left: 1vw;
}
