@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');

body{
  margin:0px;
  padding:0px;
  opacity: 0;
  transition: opacity 2s;
}

#mainGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-column-gap: 2vmin; */
  font-size: 3vmin;
  height: 100%;

  grid-template-areas:
  "header header header header header header header header"
  "profile profile body body body body trend trend"
}


#header1{
  grid-area: header;
  position: fixed;
  width: 100%;
  font-size: 3vw;
  text-align: center;
  background-color: white;
  height: 4vw;
  padding-top: 1vw;
  flex-direction: row;
  align-content: space-around;
  box-shadow: 3px 3px 20px black;
  z-index: +99;
  padding-bottom: 1vw;

}

h1{
  font-size: 3vw;
  font-weight: 700;
  margin-top: 0;
  font-family: Montserrat;
  color: #31A9E0;
}

#profileArea{
  grid-area:profile;
  background-color: #31A9E0;
  display: flex;
  flex-direction: column;
  padding-top: 5vw;
  text-align: center;
}

#profileContainer{
  grid-area:profile;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 2vw;
}

h2{
  font-size:2vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  margin-bottom: 0;
}

#profileArea h3{
  font-size:2.5vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: oblique;
  color: white;
  margin-bottom: 0;
  text-align: center;
  padding-top: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;

}

a{
  text-decoration: none;
  color:white;
}

#profileArea p{
  font-size: 2.5vmin;
  font-family: Inconsolata;
  font-weight: bold;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vw;;
  line-height: 3vmin;
  color: white;
}

#bodyArea{
  margin-top: 0px;
  grid-area:body;
  background-color: #EDEDED;
  color: white;
  font-size: 4vw;
  font-family: 'Inconsolata', monospace;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#infoArea{
  grid-area:body;
  /* height: 5vw; */
  margin-top: 5vw;
  background-color: white;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  box-shadow: 3px 3px 10px black;
  border-radius: 8px;
  width: 20vw;
}

#infoHeadings{

  font-size: 1.2vw;
  color: black;
  font-weight: bolder;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  margin: 0;
}

#fourColumnContainer{
  grid-area:profile;
  display: flex;
  flex-direction: row;

}

#stanImage{
  display: block;
  width: 100%;

}
#trendArea{
  grid-area:trend;
  background-color: white;
}

#trendsBox{
  grid-area:trend;
  height: 30vw;
  padding:2vw;
  margin-top: 4vw;
  line-height: 3vw;
  position: fixed;
}

#trendsBox h2 {
  color: black;
  margin-bottom: 1.5vw;
  font-size: 5vmin;
}

#trendsBox a {
  color: black;
  font-family: Inconsolata;
  font-weight: bold;
  font-size: 2vw;
  color: #31A9E0;
  transition: 0.4s;
}

#trendsBox a:hover{
  color: #2881AD;
  cursor: pointer;
  font-style: italic;
}

#happeningBox{
  grid-area:trend;
  height: 30vw;
  padding:2vw;
  margin-top: 4vw;
  line-height: 3vw;
  position: fixed;
}

.contentItem {
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  padding: 2vmin;
  color: black;
  border-radius: 8px;
  /* height: 100%; */
  /* box-shadow: 2px 2px 10px black; */
  background-color: white;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 35vw;
}

h3 {
  margin-top: 1vmin;
  font-size: 2vmin;
  text-align: right;
  margin-bottom: 2vmin;
  font-family: Montserrat;
}
h5 {
  font-size: 1.6vw;
  margin-top:0;
  margin-bottom: 1.5vmin;
  margin-left: 2vmin;
  font-family: Inconsolata;

}
.contentItem p{
  font-size: 1.5vw;
  margin-top: 1vmin;
  margin-left: 1vw;
}

.footerImageContainer {
  background-image: url('');
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100%;

}

.footerImage {
  width: 100%;
  height: 20vw;
  /* border: 0.6vmin solid #000; */
  border-radius: 2vmin;
  object-fit: cover;
  object-position: center;
  /* border-style: solid; */
  /* -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.62); */
}
